@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <br>
    <div class="card-group">
    	<div class="card">
    		<img class="card-img-top" src="https://picsum.photos/id/0/200/300" alt="Card image cap">
    		<div class="card-body">
    			<h4 class="card-title">Introduction to ASP.NET Core</h4>
    			<small>By <b>Daniel Roth</b></small>
    			<p class="card-text">ASP.NER Core is a multiplataform and open source mark, with high performance that it can create
scalable</p>
    			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
    	</div>
    	<div class="card">
    		<img class="card-img-top" src="https://picsum.photos/id/1/200/300" alt="Card image cap">
    		<div class="card-body">
    			<h4 class="card-title">Card title</h4>
    			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
    	</div>
    	<div class="card">
    		<img class="card-img-top" src="https://picsum.photos/id/119/200/300" alt="Card image cap">
    		<div class="card-body">
    			<h4 class="card-title">Card title</h4>
    			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
    	</div>
    </div>
</div>
